<mat-card>
    <mat-card-content>
        <form>
            <mat-form-field class="full-width">
                <mat-placeholder>Sira No</mat-placeholder>
                <input matInput [formControl]="formControl" value="{{course.no}}" name="no" (keyup)="idBinding($event)">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-placeholder>Ders Kodu</mat-placeholder>
                <input  matInput [formControl]="formControl" value="{{course.code}}" name="code" (keyup)="codeBinding($event)">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-placeholder>Ders Adi</mat-placeholder>
                <input matInput [formControl]="formControl" value="{{course.name}}" name="name" (keyup)="nameBinding($event)">
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>